:root {
    --topNavHeight: 70px
}

header {
    display:block;
    height: 10vh;
    border: 1px solid black;
}

body {

}
.maincontainer {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    border: 4px solid black;
    width:fit-content;
    height: 50vh;
    margin: auto;
    min-width: 400px;
    justify-content: space-evenly;
    flex-basis:auto;
}
.logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    flex: 1;
    margin: 2%;
    border-radius: 5%;
}
.formtitle {
    margin: 2%;
    text-align: center;
}
form div {
    margin: 2%;
}
#buttonbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.buttonholder {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textholder {
    flex: 1 1 30%;
    display: flex;
}
.textholder > input {
    flex: 1 1;
    min-width: 150px;
}
.demobutton {
    flex: 1;
    min-width: 120px;
}

.form-group {
    flex-grow:1;
}

.chart-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    flex-grow:1;
    }

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
}

.chart-container {
    position: relative;
    margin: auto;
    border: 2px solid black;
    width: 100%;
    max-width: 40vw;
    min-height: 40vh;
    max-height: 90vh;
    margin: 5px;
}

#main-and-sidenav-container {
    min-height:calc(100vh - var(--topNavHeight));
    justify-content:center;
    background-color: #dee2e6;
    flex-grow: 1;
    height:
}

#navbar-header{
    height:10vh;
    max-height:var(--topNavHeight);
}

#navbar-side{
    max-width:200px;
    align-left;
}

#main-content-box{
    flex-grow: 1;
}

textarea {
    width:100%;

}
