{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<div class="chart-flex-container">
    <div class='chart-container' >
        <canvas class='chart' id="myTicketStatus"></canvas>
    </div>
    <div class='chart-container' >
        <canvas class='chart' id="myChart2"></canvas>
    </div>
    <div class='chart-container' >
        <canvas class='chart' id="myChart3"></canvas>
    </div>
    <div class='chart-container' >
        <canvas class='chart' id="myChart4"></canvas>
    </div>
</div>
{% endblock %}

{% block script %}
<!--charts are from https://www.chartjs.org/-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
        integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>



<script>
var ctx1 = document.getElementById('myTicketStatus').getContext('2d');
var ctx2 = document.getElementById('myChart2').getContext('2d');
var ctx3 = document.getElementById('myChart3').getContext('2d');
var ctx4 = document.getElementById('myChart4').getContext('2d');

testData = {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
};

var myTicketStatus = new Chart(ctx1, {{chart1JSON|safe}});
var myChart2 = new Chart(ctx2, {{chart2JSON|safe}});
var myChart3 = new Chart(ctx3, {{chart3JSON|safe}});
var myChart4 = new Chart(ctx4, testData);

</script>
{% endblock %}

<!--TODO hook the onbefore print event for autoresizing-->
<!--https://www.chartjs.org/docs/2.7.2/general/responsive.html#important-note-->
