<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('issueTrack.static', filename='styles.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!--Flexbox header bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if session.user_id %}
        <div>
          Welcome {{ session.user_id }}
        </div>
      {% endif %}
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {% if session.user_id %}
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="./profile">User Profile</a></li>
<!--          TODO need to add in a logout function-->
          <li class="nav-item"><a class="nav-link" href="./">Log Out</a></li>
        </ul>
        {% else %}
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="./">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="./register">Register</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  <!--Flexbox sidebar-->
  <div class="container-fluid">
    <div class="row flex-nowrap  justify-content-center">
      {% if session.user_id %}
      <div class="navbar col-2 navbar-light bg-dark align-items-start">
        <!--            I don't know what most of these classes do since I pasted them. will need to check them out later-->
        <div class="d-flex flex-column align-items-top align-items-sm-start px-3 pt-2 text-white">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a href="./dashboard" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="./roles" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Role Assignment</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="./projectusers" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Assign Project Users</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="./myprojects" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">My Projects</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="./mytickets" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">My Tickets</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
      <div class="col-10 justify-center">
        {% block main %}{% endblock %}
      </div>
    </div>
  </div>

</body>

{% block script %}
{% endblock %}

</html>
