{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div class='maincontainer'>
        <main>
            <div class='logincontainer'>
                <div class='formtitle'>
                    Issue Tracker Login
                </div>
                <form action="/" method='post'>
                    <div class='textholder'>
                        <input type="text" placeholder='Username' name='username' autocomplete='off'>
                    </div>
                    <div class='textholder'>
                        <input type="password" placeholder='Password' name="password">
                    </div>
                    <div class='buttonholder'>
                        <button type='submit'>Log In</button>
                    </div>
                </form>
            </div>
            <div class='logincontainer'>
                <div class='formtitle'>
                    Login with a Demo Account
                </div>
                <form action="/" method="post">
                    <div id='buttonbox'>
                        <div class='buttonholder'>
                            <button type='submit' name='admin' class='demobutton' value='admin'>Admin</button>
                        </div>
                        <div class='buttonholder'>
                            <button class='demobutton' value='manager'>Project Manager</button>
                        </div>
                        <div class='buttonholder'>
                            <button class='demobutton' value='dev'>Developer</button>
                        </div>
                        <div class='buttonholder'>
                            <button type='submit' name='user' class='demobutton' value='user'>Submitter</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
{% endblock %}
