{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <header>
        Insert Bootstrap Header here
    </header>

    <div class='maincontainer'>
        <main>
            <div class='logincontainer'>
                <div class='formtitle'>
                    Register New Account
                </div>
                <form action="" method='post'>
                    <div class='textholder'>
                        <input type="text" placeholder='Username' autocomplete='off'>
                    </div>
                    <div class='textholder'>
                        <input type="password" placeholder='Password'>
                    </div>
                    <div class='buttonholder'>
                        <button type='submit'>Log In</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
{% endblock %}
