{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class='maincontainer'>
    <main>
        <div class='logincontainer'>
            <div class='formtitle'>
                Register New Account
            </div>
            <form action="{{ url_for('.register') }}" method='post'>
                <div class='textholder'>
                    <label for="usernameEntry"></label>
                    <input type="text" placeholder='Username' autocomplete='off' name='usernameEntry' autofocus>
                </div>
                <div class='textholder'>
                    <label for="passwordEntry"></label>
                    <input type="password" placeholder='Password' name='passwordEntry'>
                </div>
                <div class='textholder'>
                    <label for="confirmPasswordEntry"></label>
                    <input type="password" placeholder='Confirm Password' name='confirmPasswordEntry'>
                </div>
                <div class='buttonholder'>
                    <button type='submit'>Register</button>
                </div>
            </form>
            {% if warning %}
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                {{ warning }}
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
            {% endif %}
        </div>
    </main>
</div>
{% endblock %}
{% block script %}
{% endblock%}
